.Navbar {
    background: #5158BB;
    display: flex;
    justify-content: space-between;
    color: white;
}
.NavbarMenu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: block;
}

.NavbarMenuItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavbarMenu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    height: 100%;
    padding: 1rem;
}

.NavbarMenuItemActive {
    background: #424798;
}

.NavbarTodoCount {
    padding: 1rem;
}